@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
  --primary: #3116FA;
  --dark-gray: #9C8F6E;
  --gray: #C4C4C4;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Libre Baskerville', sans-serif;
}

//LINKS
a {
  color: black;
  text-decoration: none;
}

.active {
  color: var(--primary) !important;
}

//TEXTS
.logo {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: black !important;
}

.header {
  font-family: 'Syne', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

h1 {
  font-family: 'Syne', sans-serif;
  font-size: 24px;
}